@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Grenze+Gotisch:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --heading-font: "Comfortaa", serif;
  --short-text-font: "Quattrocento Sans", serif;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: white;
}
p,
label {
  font-family: var(--short-text-font);
  color: white;
}

main > section,
main > article,
main > header {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all .5s ease-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: all .5s ease-in;
}

/* project card styles */
.project-card-hidden {
  opacity: 0;
  filter: blur(5px);
}

.project-card-show {
  opacity: 1;
  filter: blur(0);
  transition: all 1s ease-out;
}

/* Staggered animations for each project card */
.project-card:nth-child(1) {
  transition-delay: 0.2s; /* Delay for the first card */
}

.project-card:nth-child(2) {
  transition-delay: 0.4s; /* Delay for the second card */
}

.project-card:nth-child(3) {
  transition-delay: 0.6s; /* Delay for the third card */
}

/* ------------------------------------------------------------------ Admin CSS --------------------------------------------------------*/
#create-project-form {
  display: grid;
  align-content: center;
}

#create-project-form > form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}
.modify-project-form {
  display: grid;
  justify-content: center;
}
.modify-project-form > form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}
.modify-project-form > form > textarea {
  min-height: 20vh;
}
#create-project-form > form > textarea {
  min-height: 15vh;
}
#projects-to-modify > div {
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
  display: grid;
  gap: 16px;
  justify-items: center;
}
#message-display {
  align-content: center;
  gap: 16px;
}
#message-display > div {
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}

/* ------------------------------------------------------------------ Project CSS --------------------------------------------------------*/

.project-card {
  min-height: 80vh;
}
.project-card > main {
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  width: 300px;
  min-width: 20vw;
}
.project-card > main > figure > img {
  min-width: 20vw;
  width: auto;
}
/* ------------------------------------------------------------------ Contact CSS --------------------------------------------------------*/
#contact-form > form {
  display: grid;
  gap: 16px;
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}

#contact-form > form > textarea {
  min-height: 15vh;
}

/* ------------------------------------------------------------------ Home CSS --------------------------------------------------------*/
#about {
  display: grid;
  align-content: center;
}
#CV {
  display: grid;
  align-content: center;
}

/* -------------------------------------------------------------------- nav bar CSS --------------------------------------------------- */
