@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Grenze+Gotisch:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --heading-font: "Comfortaa", serif;
  --short-text-font: "Quattrocento Sans", serif;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: white;
}

button {
  color: rgb(192, 192, 192);
  background-color: black;
  border: 1px rgb(192, 192, 192) solid;
  font-family: var(--short-text-font);
  font-size: 18px;
  border-radius: 16px;
}
button:hover {
  color: white;
  border: 1px white solid;
  cursor: pointer;
}

p,
label {
  font-family: var(--short-text-font);
  color: white;
}

main > section,
main > article,
main > header {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all .5s ease-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: all .5s ease-in;
}

/* project card styles */
.project-card-hidden {
  opacity: 0;
  filter: blur(5px);
}

.project-card-show {
  opacity: 1;
  filter: blur(0);
  transition: all 1s ease-out;
}

/* Staggered animations for each project card */
.project-card:nth-child(1) {
  transition-delay: 0.2s; /* Delay for the first card */
}

.project-card:nth-child(2) {
  transition-delay: 0.4s; /* Delay for the second card */
}

.project-card:nth-child(3) {
  transition-delay: 0.6s; /* Delay for the third card */
}

/* ------------------------------------------------------------------ Admin CSS --------------------------------------------------------*/
#create-project-form {
  display: grid;
  align-content: center;
}

#create-project-form > form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}
.modify-project-form {
  display: grid;
  justify-content: center;
}
.modify-project-form > form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}
.modify-project-form > form > textarea {
  min-height: 20vh;
}
#create-project-form > form > textarea {
  min-height: 15vh;
}
#projects-to-modify > div {
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
  display: grid;
  gap: 16px;
  justify-items: center;
}
#message-display {
  align-content: center;
  gap: 16px;
}
#message-display > div {
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}

/* ------------------------------------------------------------------ Project CSS --------------------------------------------------------*/

.project-card {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project-card > main {
  border: 5px, white, solid;
  border-radius: 28px;
  padding: 16px;
  background-color: black;
  top: 0;
  min-width: 20vw;
  /* position: absolute; */
}
.project-card > main {
  display: grid;
  justify-items: center;
  max-width: 70vw;
}
#project-section > a {
  text-decoration: none;
  color: white;
  font-family: var(--short-text-font);
}

.project-card > main > figure > img {
  width: auto;
}
.project-card > main > h3 {
  font-family: var(--short-text-font);
  font-weight: 100;
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 3%,
    rgba(255, 255, 255, 0) 97%,
    rgba(0, 0, 0, 1) 100%
  );
}
.video-parent {
  position: relative;
}
/* ------------------------------------------------------------------ Contact CSS --------------------------------------------------------*/
#contact-form > form {
  display: grid;
  gap: 16px;
  border: 2px, white, solid;
  border-radius: 28px;
  padding: 16px;
  min-width: 300px;
  width: 20vw;
}

#contact-form > form > textarea {
  min-height: 15vh;
}

/* ------------------------------------------------------------------ Home CSS --------------------------------------------------------*/
#about {
  display: grid;
  align-content: center;
}
#stack {
  display: grid;
  align-content: center;
  text-align: center;
}
#CV {
  display: grid;
  align-content: center;
  gap: 16px;
}
#CV > a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  width: 35px;
  height: 35px;
  font-family: var(--short-text-font);
  color: rgb(192, 192, 192);
  background-color: black;
}

/* -------------------------------------------------------------------- nav bar CSS --------------------------------------------------- */

.navigation-bar {
  gap: 16px;
  padding: 16px;
}
.navigation-bar > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.navigation-bar > ul > li {
  list-style-type: none;
  text-decoration: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  display: grid;
  align-content: center;
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  text-decoration: none;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: var(--heading-font);
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.5s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 85%;
  left: 80%;
  font-size: 43px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: rgb(192, 192, 192) 2px solid;
  color: rgb(192, 192, 192);
  background-color: black;
}
.openbtn {
  position: fixed;
  top: 85%;
  left: 80%;
  z-index: 1000;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: rgb(192, 192, 192) 2px solid;
  color: rgb(192, 192, 192);
  background-color: black;
}

.openbtn:hover .closebtn:hover {
  border: white 2px solid;
  color: white;
  background-color: #818181;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (min-width: 400px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn .openbtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    min-width: 60px;
  }
}
